{% extends "base.html" %}

{% block title %}
Todo App
{% endblock %}

{% block content %}

<div class="card w-96 bg-base-100 card-xs shadow-sm mx-auto">
    <div class="card-body">
        <h1 class="text-4xl font-bold text-center">
            📝 Todo App
        </h1>

        <form method="POST">



            <input name="title" type="text" placeholder="Enter new task..."
                class="input input-bordered join-item w-full" required />

            <div class="mt-5 text-center">
                <button class="btn btn-success">ADD</button>
            </div>
        </form>

        <div class="divider"></div>

        {% if todos %}

        {% for todo in todos %}

        <div class="flex justify-between items-center bg-base-200 p-3 rounded-lg mb-3">

            <div class="flex items-center gap-3">

                <a href="{{ url_for('toggle', todo_id=todo.id) }}" class="btn btn-sm btn-circle">

                    {% if todo.completed %}
                    ✅
                    {% else %}
                    ⬜
                    {% endif %}

                </a>

                {% if todo.completed %}

                <span class="line-through text-gray-500">
                    {{ todo.title }}
                </span>

                {% else %}

                <span>
                    {{ todo.title }}
                </span>

                {% endif %}

            </div>

            <div class="flex gap-2">

                <button class="btn btn-warning btn-sm"
                    onclick="document.getElementById('modal{{todo.id}}').showModal()">

                    Edit

                </button>

                <a href="{{ url_for('delete', todo_id=todo.id) }}" class="btn btn-error btn-sm">

                    Delete

                </a>

            </div>

        </div>

        <dialog id="modal{{todo.id}}" class="modal">

            <div class="modal-box">

                <h3 class="font-bold text-lg mb-4">
                    Edit Todo
                </h3>

                <form method="POST" action="{{ url_for('edit', todo_id=todo.id) }}">

                    <input class="input input-bordered w-full" type="text" name="title" value="{{todo.title}}">

                    <div class="modal-action">

                        <button class="btn btn-primary">
                            Save
                        </button>

                        <button type="button" class="btn" onclick="document.getElementById('modal{{todo.id}}').close()">

                            Cancel

                        </button>

                    </div>

                </form>

            </div>

        </dialog>

        {% endfor %}

        {% else %}

        <div class="text-center py-10">

            <h2 class="text-xl font-bold">
                No Todos Yet
            </h2>

            <p class="text-gray-500">
                Add your first task.
            </p>

        </div>

        {% endif %}


    </div>
</div>

{% endblock %}